          <h2>Choose a category</h2>
          <select name="category" id="categorySelect">
          {{#each category}}
          <option id="categoryselect" name="category">{{this}}</option>
          {{/each}}
          </select>